{% extends 'blog/base.html' %}

{% block content %}

  <div class="jumbotron border border-dark">
    <h2>Please Login:</h2>
    <h3>Must be a SuperUser, please check with admin</h3>

    {% if form.errors %}
    <p>Username/Password error, Please try again!</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class = 'btn btn-primary', value = 'Login'>
        <input type="hidden" name = 'next' value = '{{ next }}'> <!--login supplies next page-->
    </form>
  </div>
{% endblock %}
